@charset "utf-8";

/*body{background:url(../images/common/header_bg.gif) repeat-x;}
#wrap{width:998px;margin:0 auto;}
#header{}
#header .logo{display:inline-block;border:1px solid #ff0000;}
#header .logo:after{clear:both;zoom:*1;height:100%;}
#header .main_menu{display:inline-block;}
#header .main_menu ul{border:1px solid #ff0000;}
#header .main_menu li{display:inline-block;float:left;}*/